:root {
   --color-white: #ffffff;
   --color-black: #000000;
   --color-bg-btn: #cccccc;
}

html {
   font-family: Karma;
   font-size: 62.5%;
   user-select: none;
}

body {
   font-size: 1.6rem;
}

header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20rem;
   position: sticky;
   top: 0;
   background-color: var(--color-white);
}
main {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.menu__icon {
   padding: 2rem 1.5rem;
   cursor: pointer;
}
.menu__icon:hover {
   background-color: var(--color-bg-btn);
}
.menu__nav {
   position: fixed;
   top: 0;
   left: -330px; /* Menu ẩn bên trái */
   width: 330px;
   height: 100%;
   transition: left 0.5s ease; /* Hiệu ứng di chuyển từ bên trái */
   background-color: #dddddd;
}
.menu__nav > .menu__icon {
   position: absolute;
   right: 0;
}
#Layer_1 {
   display: none;
}
.menu__nav.open {
   left: 0; /* Hiển thị menu từ bên trái */
}
.menu__nav--list {
   margin-top: 8rem;
}
.menu__nav--item {
   padding: 2rem 0 2rem 2rem;
}
.menu__nav--item a {
   font-size: 3rem;
   text-decoration: none;
   color: var(--color-black);
}
.menu__nav--item:hover {
   background-color: var(--color-bg-btn);
   cursor: pointer;
}
.brand h1,
.contact h1 {
   font-size: 3rem;
   font-weight: 500;
}

.content {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0 25rem;
   margin-top: 5rem;
}
.content__list {
   display: grid;
   grid-template-columns: repeat(
      4,
      1fr
   ); /* Sử dụng repeat() để tạo 4 cột với chiều rộng bằng nhau */
   justify-content: center;
   gap: 1rem;
}
.content__items {
   text-align: center;
}
.img img {
   width: 35rem;
}
.title {
   margin: 5rem 0 3rem;
   font-size: 3rem;
}
.context {
   font-size: 1.8rem;
   margin-bottom: 3rem;
}

.page__list {
   display: flex;
   align-items: center;
   padding-bottom: 3rem;
   margin: 2rem 0 2rem;
   border-bottom: 0.3rem solid var(--color-bg-btn);
}

.page__item a {
   font-size: 3rem;
   color: var(--color-black);
   text-decoration: none;
   padding: 2rem;
}
.page__item a:hover {
   color: var(--color-white);
   background-color: var(--color-black);
}

.about {
   width: calc(100% - 66rem);
   text-align: center;
   border-bottom: 0.3rem solid var(--color-bg-btn);
}
strong {
   display: block;
   font-size: 3rem;
   font-weight: 900;
   margin: 2rem 0 1rem;
}
i {
   display: block;
   font-style: italic;
   font-size: 2.5rem;
   margin-bottom: 1rem;
}
.context {
   margin-bottom: 10rem;
}

footer {
   display: flex;
   justify-content: space-around;
   margin-top: 10rem;
}
.author {
   width: 40rem;
}
.author h1,
.blog h1,
.tags h1 {
   font-size: 3rem;
   margin-bottom: 1rem;
}
.author p {
   margin-bottom: 1rem;
}
.blog {
}
.post {
   width: 25rem;
   display: flex;
   align-items: center;
   gap: 1rem;
   padding: 1rem 5rem 1rem 1rem;
}
.post:hover {
   background-color: var(--color-bg-btn);
   cursor: pointer;
}
.post img {
   height: 7rem;
}
.post__context h2 {
   font-size: 2rem;
}
.tags ul {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-gap: 0.5rem;
}

.country__list .country__item:first-child {
   color: var(--color-white);
   background-color: var(--color-black);
}

.country__item {
   text-align: center;
   padding: 0.5rem;
   color: var(--color-white);
   background-color: #616161;
}
.country__item:hover {
   background-color: var(--color-black);
   cursor: pointer;
}
